.login-title {
  font-family: "Caveat", cursive;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 900;
}
label {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.9px;
}
.h-full {
  height: 100vh !important;
}
@media only screen and (max-width: 767px) {
  .login-title {
    font-size: 20px;
  }
}
