.sidebar {
  width: 230px;
  height: 100vh;
  /* background-color: #333; */
  color: #fff;
  padding: 20px;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 1; */
  position: fixed;
  top: 86px;
}

.sidebar-header {
  background-color: #444;
  padding: 10px;
  border-bottom: 1px solid #555;
}

.sidebar-header h5 {
  margin: 0;
}

.nav-link {
  color: #fff;
}

.nav-link.active {
  background-color: #555;
  border-radius: 5px;
  padding: 10px;
}

.nav-link:hover {
  background-color: #444;
  border-radius: 5px;
  padding: 10px;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.9px;
}

.nav-link:focus {
  background-color: #555;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.nav-link:hover {
  background-color: #444;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.activeRouter {
  color: black !important;
  background-color: #fff !important;
}

.menu-title {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.9px;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    width: 50px;
    padding: 12px;
  }
  .sidebar-header {
    background-color: transparent;
    padding: 10px;
    border-bottom: 0px;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  .nav-link {
    padding: 0px;
  }
  .activeRouter {
    background-color: transparent !important;
    color: #9a9afa !important;
  }
  .nav-link:hover {
    padding: 0px;
  }
}
