<!-- <p>blog-detail works!</p> -->
<div class="card-box">
  <div
    class="flex justify-content-between flex-column-reverse flex-md-row align-items-center"
  >
    <div>
      <div
        class="text-xl text-900 mt-4 mt-md-0 text-center text-md-left font-semibold pr-md-4 blogHeader"
      >
        {{ blogData.blogHeader }}
      </div>
      <!-- <div
        class="flex flex-wrap justify-content-center md:justify-content-start gap-3"
      >
        <span
          class="inline-flex align-items-center py-2 px-3 font-medium border-1 surface-border border-round"
          ><i class="pi pi-clock text-primary mr-2"></i
          ><span class="text-900">2d ago</span></span
        ><span
          class="inline-flex align-items-center py-2 px-3 font-medium border-1 surface-border border-round"
          ><i class="pi pi-comments text-primary mr-2"></i
          ><span class="text-900">24</span></span
        ><span
          class="inline-flex align-items-center py-2 px-3 font-medium border-1 surface-border border-round"
          ><i class="pi pi-eye text-primary mr-2"></i
          ><span class="text-900">124</span></span
        >
      </div> -->
    </div>
    <div class="flex flex-column align-items-center justify-content-center">
      <img [src]="blogData.userAvatar" class="userAvatar" /><span
        class="mt-3 font-bold text-900 text-center white-space-nowrap"
        >Jane Cooper</span
      >
    </div>
  </div>
  <div class="text-center my-6">
    <img [src]="blogData.bannerImage" alt="Image" class="w-full banner-mage" />
  </div>
  <div class="text-2xl text-900 mb-4 font-semibold">
    {{ blogData.blogTitle }}
  </div>
  <p class="line-height-3 text-lg mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita debitis ab
    praesentium quaerat, recusandae vero similique perferendis ducimus minima
    odio magnam illo unde, facilis, velit nostrum culpa aliquid in! Quaerat rem
    consequuntur, ex laboriosam maiores eaque excepturi nesciunt? Cum, non!
    Suscipit repudiandae aliquam ea ipsa quis. Voluptates id ex hic neque
    cupiditate dolore numquam quia incidunt ullam consectetur vel distinctio ad
    pariatur expedita autem excepturi, sequi eius dicta maxime ullam beatae
    nihil ut error modi? Eos dolor optio iure? Ullam laudantium molestiae iste
    beatae illum deserunt non accusamus doloribus quis, quam reiciendis quasi
    cum dolor consequuntur omnis cupiditate molestias alias,
  </p>
  <p class="line-height-3 text-lg mb-4">
    non eaque porro. Quasi ipsa animi in fugiat, quam esse, iure nulla molestiae
    libero, impedit architecto doloremque! Debitis vitae nobis quisquam ipsum
    harum nisi quibusdam quo et earum quia exercitationem, rerum velit ullam
    optio eaque! Facere, magnam voluptatum laborum ea veritatis qui et sed quis
    voluptatem doloribus, nesciunt pariatur quibusdam assumenda architecto
    similique voluptatibus, accusantium repellendus quasi placeat dolorem! Illum
    consectetur aspernatur modi suscipit cum? Cumque qui inventore quas
    quibusdam obcaecati odio molestias in eaque, numquam modi optio minus
    nostrum, accusantium omnis sequi veniam nesciunt eveniet facere aspernatur
    animi velit porro, ipsum error aliquam.
  </p>
  <p class="line-height-3 text-lg mb-4">
    Fugit eveniet voluptatum nobis nam velit consectetur autem. Reprehenderit
    adipisci accusantium nostrum eius cum quidem expedita, eveniet totam numquam
    commodi ea veritatis, eligendi odio nam officiis. Et laudantium assumenda,
    eligendi nostrum culpa quae delectus dolorem aperiam saepe reiciendis dolor
    quos eum debitis voluptatem impedit quo asperiores earum suscipit libero
    nobis esse maiores molestias ab.
  </p>
  <p>
    Et possimus assumenda, doloremque officiis numquam quae quisquam enim animi
    omnis nostrum unde laborum molestiae, eligendi reiciendis voluptates soluta
    atque nesciunt dolores porro aliquam a sint accusantium! Nihil consequatur
    eligendi veniam cupiditate repudiandae nesciunt magni accusamus expedita
    ullam voluptatem? Quo esse ipsam unde. Officiis corporis non ex laborum iure
    dolores natus. Nobis, ducimus? Temporibus corporis ipsam, consequatur
    reprehenderit quo eveniet nam dolore voluptatum tempora asperiores
    perferendis, debitis provident aliquid eius corrupti quia rerum totam sed,
    nesciunt soluta accusantium. Consequuntur nihil tempora suscipit maiores
    quam debitis consequatur porro, accusamus, at, dolore explicabo? Dicta
    eligendi iure vitae dignissimos?
  </p>
  <p>
    Aliquid non accusantium voluptatum recusandae ut qui sint omnis, corporis
    beatae molestiae porro laborum! Error earum temporibus perferendis,
    voluptatem, cumque laboriosam similique minus a obcaecati sequi perspiciatis
    distinctio nobis, unde expedita. Labore cumque libero, non dicta a
    praesentium dolores asperiores fugit id, quidem pariatur, ex eos quod
    tenetur molestias similique! Ducimus sint quisquam debitis, minus sapiente
    aperiam, necessitatibus incidunt officia commodi officiis voluptas optio ea
    earum quo modi dolore eligendi adipisci ullam consectetur aut eaque.
    Obcaecati, ad? Necessitatibus quisquam, porro quod quo delectus distinctio
    laborum in aspernatur earum placeat sunt doloribus,
  </p>
  <p>
    ex vitae possimus, nostrum iure recusandae? Voluptatum odit molestias
    dolores, tempora officia explicabo consectetur impedit pariatur, veritatis
    facere optio aperiam fuga quam, quas unde nisi autem sed quaerat doloribus
    soluta vitae quidem. Animi, corrupti tempore expedita eum natus pariatur
    reprehenderit ad! Vero saepe illo mollitia doloremque dignissimos possimus
    dolore accusamus quas consectetur quasi et excepturi dolorem minus facilis
    odio nulla, eum hic repudiandae expedita fugiat.
  </p>
</div>
